# ----------------------------
# Dependencies
# ----------------------------
node_modules
**/node_modules

# ----------------------------
# Build outputs
# ----------------------------
dist
build
.next
out
.turbo

# ----------------------------
# Env files (keep secrets out)
# ----------------------------
.env
.env.local
.env.*
!.env.example

# ----------------------------
# Logs
# ----------------------------
*.log
logs

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode
.idea

# ----------------------------
# Misc
# ----------------------------
coverage
*.tsbuildinfo